// Colors

$black: #28282b;
$white: #ffffff;

// Spacing

$side-padding: 4rem;
$side-padding-laptop: 2rem;
$side-padding-mobile: 1rem;

$top-padding: 2rem;
$top-padding-mobile: 1rem;

// Breakpoints

$breakpoint-sm: 425px;
$breakpoint-md: 870px;
$breakpoint-lg: 1024px;
