@use '../../styles/vars.scss' as vars;

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem 4rem;

  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .accordionCard {
    display: none;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .card {
      display: none;
    }

    .accordionCard {
      display: block;
    }
  }
}
