@use '../../styles/vars.scss' as vars;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--top-padding) var(--side-padding);

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .navLinks {
    display: flex;
    gap: 4rem;
    @media screen and (max-width: vars.$breakpoint-md) {
      display: none;
    }
  }

  .menuIcon {
    display: none;
    cursor: pointer;

    @media screen and (max-width: vars.$breakpoint-md) {
      display: block;
    }
  }
}

.drawerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.closeIcon {
  align-self: flex-end;
}

.drawerLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
